# Don't diff or textually merge source maps
*.map binary

static/css/bootstrap.min.css linguist-vendored
static/css/bootstrap.min.css.map linguist-vendored
static/css/custom-bootstrap.css linguist-vendored
static/css/style-base.css linguist-vendored
static/js/bootstrap.bundle.min.js linguist-vendored
static/js/bootstrap.bundle.min.js.map linguist-vendored
static/js/jquery.js linguist-vendored
static/js/socket.io.min.js linguist-vendored