# Don't diff or textually merge source maps
*.map binary

statis/css/bootstrap.min.css linguist-vendored=false
statis/js/bootstrap.bundle.min.js linguist-vendored=false
static/js/jquery.js linguist-vendored=false