{% extends 'base/base.html'%}
{% block title %} Pasta-Box - Device {% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card text-center shadow">
        <div class="card-header">
            <div class="row">
                <div class="col- text-end">
                    <button type="button" class="btn-close" aria-label="Close" onclick="closeTab();"></button>
                </div>
                <div class="col text-center">
                    Device n°{{device["id"]}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">Infos</h5>
            <p class="card-text">{{device["macAddr"]}}</p>
            <p class="card-text">{{device["ipAddr"]}}</p>
            <p class="card-text">{{device["securityScore"]}}</p>
            <p class="card-text">{{device["netBios"]}}</p>
            <p class="card-text">{{device["firstConnection"]}}</p>
            <p class="card-text">{{device["lastConnection"]}}</p>
            <button data-bs-toggle="modal" data-bs-target="#Modal" type="button" class="btn btn-primary shadow" {% if device["activeStatus"] == 2 %} disabled {% endif %}>Security Audit <img
                    src="{{ url_for('static', filename='icons/bug-fill-white.svg') }}" alt=""></button>
        </div>
        <div class="card-footer text-muted">
            {% if device["activeStatus"] == 0 %}
            Status : Inactive
            {% elif device["activeStatus"] == 1 %}
            Status : Active
            {% else %}
            Status : Being scanned
            {% endif %}
        </div>
    </div>
        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Scan the device n°{{device["id"]}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you want to scan this device to the IP address : {{device["ipAddr"]}} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button onclick="scanDevice({{device["id"]}})" type="button" data-bs-dismiss="modal"
                            class="btn btn-primary">Scan the device</button>
                    </div>
                </div>
            </div>
        </div>
        <br id="errorAnchor">
</div>
{% endblock %}

{% block js %}
<script>
    function closeTab() {
        window.close();
    }
</script>
<script src="{{ url_for('static', filename='js/audit.js') }}"></script>
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}