{% extends 'base/base.html'%}
{% block title %} Pasta-Box - Device {% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card text-center shadow">
        <div class="card-header">
            <div class="row">
                <div class="col- text-end">
                    <button type="button" class="btn-close" aria-label="Close" onclick="closeTab();"></button>
                </div>
                <div class="col text-center">
                    Device {{device["role"]}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">Infos</h5>
            <p class="card-text">{{device["macAddr"]}}</p>
            <p class="card-text">{{device["ipAddr"]}}</p>
            <p class="card-text">{{device["securityScore"]}}</p>
            <p class="card-text">{{device["netBios"]}}</p>
            <p class="card-text">{{device["firstConnection"]}}</p>
            <p class="card-text">{{device["lastConnection"]}}</p>
            <a href="#" class="btn btn-primary shadow">Security Audit <img
                    src="{{ url_for('static', filename='icons/bug-fill-white.svg') }}" alt=""></a>
        </div>
        <div class="card-footer text-muted">
            Status : {{device["activeStatus"]}}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function closeTab(){
        window.close();
    }
</script>
{% endblock %}