{% extends 'base/base.html'%}
{% block title %} Pasta-Box - Frames Live {% endblock %}

{% block content %}

<div class="container">

    <br>
    <h1 class="text-center">LIVE FRAMES</h1>
    <div class="divider div-transparent div-arrow-down"></div>

    <div class="row">
        <div class="col">
            <a href="/admin/frames/" class="badge badge-pill badge-primary">Quit</a>
        </div>
    </div>
    <div class="row">
        <div id="log">
            <div class="text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only text-center">Loading...</span>
                </div>
            </div>
        </div> <!-- /#log -->
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

<script>
    $(document).ready(function () {
        //connect to the socket server.
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
        var numbers_received = [];

        //receive details from server
        socket.on('newnumber', function (msg) {
            /*
            console.log(msg)
            console.log("Received number" + msg.id);
            */
            $('#log').prepend(
                '<p>' + msg.id + '</p>'
            );
        });
    });
</script>

{% endblock %}