{% extends 'base/base.html'%}
{% block title %} Pasta-Box - Frames {% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <h1 class="text-center">FRAMES VIEWER</h1>
    <div class="divider div-transparent div-arrow-down"></div>
    <form>
        <p class="text-center">
            <a class="btn btn-primary my-2" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false"
                aria-controls="collapseSearch">
                Advanced Search <img src="{{ url_for('static', filename='icons/arrow-down.svg') }}" alt="" width="20" height="20">
            </a>
            <a class="btn btn-primary my-2" href="/admin/frames/live">Live Frames <img
                    src="{{ url_for('static', filename='icons/broadcast.svg') }}" alt="Broadcast" width="20" height="20"></a>
        </p>
        <div class="collapse" id="collapseSearch">
            <div class="card card-body">
                <!-- IP GROUP -->
                <div class="form-group">
                    <label>
                        <h5>IP Address</h5>
                    </label>
                    <div class="collapse show" id="collapseIP">
                        <div class="form-row" id="groupIP">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control inputs" id="ipSource" placeholder="192...">
                                    <label for="floatingInput">Source</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control inputs" id="ipDest" placeholder="192...">
                                    <label for="floatingInput">Destination</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CHECK GROUP -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkIP" data-bs-toggle="collapse"
                            href="#collapseIP" unchecked autocomplete="off">
                        <label class="form-check-label" for="checkIP">
                            IP in both field
                        </label>
                    </div>
                </div>
                <!-- IP BOTH GROUP -->
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="collapse collapseIPboth" id="collapseIP">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" class="form-control inputs" id="ipSourceAndDest"
                                                placeholder="192...">
                                            <label for="floatingInput">Source or Dest</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PORT GROUP -->
                <div class="form-group">
                    <label>
                        <h5>Port</h5>
                    </label>
                    <div class="collapse show" id="collapsePort">
                        <div class="form-row" id="groupPort">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control inputs" id="portSource"
                                        placeholder="80...">
                                    <label for="floatingInput">Source</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control inputs" id="portDest" placeholder="80...">
                                    <label for="floatingInput">Destination</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CHECK GROUP -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkPort"
                            data-bs-toggle="collapse" href="#collapsePort" unchecked autocomplete="off">
                        <label class="form-check-label" for="checkPort">
                            Port in both field
                        </label>
                    </div>
                </div>
                <!-- PORT BOTH GROUP -->
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="collapse collapsePortBoth" id="collapsePort">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="number" class="form-control inputs" id="portSourceAndDest"
                                                placeholder="80...">
                                            <label for="floatingInput">Source or Dest</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MAC GROUP -->
                <div class="form-group">
                    <label>
                        <h5>MAC Address</h5>
                    </label>
                    <div class="collapse show" id="collapseMAC">
                        <div class="form-row" id="groupMAC">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control inputs" id="macAddrSource"
                                        placeholder="FF...">
                                    <label for="floatingInput">Source</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control inputs" id="macAddrDest" placeholder="FF...">
                                    <label for="floatingInput">Destination</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CHECK GROUP -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkMAC" data-bs-toggle="collapse"
                            href="#collapseMAC" unchecked autocomplete="off">
                        <label class="form-check-label" for="checkMAC">
                            MAC in both field
                        </label>
                    </div>
                </div>
                <!-- MAC BOTH GROUP -->
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="collapse collapseMacBoth" id="collapseMAC">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" class="form-control inputs" id="macSourceAndDest"
                                                placeholder="FF...">
                                            <label for="floatingInput">Source or Dest</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PROTOCOLS GROUP -->
                <div class="form-group">
                    <label>
                        <h5>Protocols</h5>
                    </label>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control inputs" id="application"
                                    placeholder="HTTP, SSH, ...">
                                <label for="floatingInput">Application</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control inputs" id="transport"
                                    placeholder="6(TCP), 17(UDP), ...">
                                <label for="floatingInput">Transport</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control inputs" id="network"
                                    placeholder="IP, IPv6, VLAN, ARP, ...">
                                <label for="floatingInput">Network</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ADDITIONAL GROUP -->
                <div class="form-group">
                    <label>
                        <h5>Additionnal</h5>
                    </label>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control inputs" id="domain"
                                    placeholder="domain.name.com">
                                <label for="floatingInput">Domain name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control inputs" id="info" placeholder="Ack,...">
                                <label for="floatingInput">Info</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DATE GROUPE -->
                <div class="form-group">
                    <label>
                        <h5>Date</h5>
                    </label>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Start</span>
                                <input type="date" class="form-control inputs" id="startDate" placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">End</span>
                                <input type="date" class="form-control inputs" id="endDate" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button type="submit" class="btn btn-primary">Search</button> -->
            </div>
        </div>
    </form>
    <br>
    <label>
        <h5>Table search</h5>
    </label>
    <div class="row">
        <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group">
                    <span class="input-group-text">Last packets</span>
                    <input type="number" class="form-control inputs" id="limit" value="20" min="0">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group">
                    <span class="input-group-text"><img src="{{ url_for('static', filename='icons/search.svg') }}"
                            alt="" width="20" height="20"></span>
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
            </div>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-responsive-lg table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>IP source</th>
                <th>IP destination</th>
                <th>Port source</th>
                <th>Port destination</th>
                <th>MAC source</th>
                <th>MAC destination</th>
                <th>Layer application</th>
                <th>Layer transport</th>
                <th>Layer network</th>
                <th>Domain name</th>
                <th>Date</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody id="myTable">
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/frames.js') }}"></script>

{% endblock %}