{% extends "base/base.html" %}
{% block title %} Pasta-Box - System Settings {% endblock %}
{% block content %}
<div class="container-fluid">
    <br>
    <div class="container">
        <h1 style="text-align: center;">SYSTEM SETTINGS</h1>
        <div class="divider div-transparent div-arrow-down"></div>
    </div>
    <div style="padding-right:inherit;" class="col-md-6 half-body">
        <h3 style="text-align: center;">Main Settings</h3>
        <br id="errorAnchor">
        <br>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="row">
                        <legend class="col-form-label pt-0"><u>IP address :</u></legend>
                    </div>
                    <input type="text" class="form-control" id="ipAddr" value="{{content.ipAddr}}">
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                        <legend class="col-form-label pt-0"><u>Netmask :</u></legend>
                    </div>
                    <input type="text" class="form-control" id="netmask" value="{{content.netmask}}">
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                        <legend class="col-form-label pt-0"><u>Gateway :</u></legend>
                    </div>
                    <input type="text" class="form-control" id="gateway" value="{{content.gateway}}">
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                        <legend class="col-form-label pt-0"><u>Hostname :</u></legend>
                    </div>
                    <input type="text" class="form-control" id="hostname" value="{{content.hostname}}">
                </div>
                <legend class="col-form-label pt-0"><i>Note : if you change the hostname of the Pasta-Box,
                        don't forget to restart the system to make it effective.</i></legend>
                <button style="margin-top:2em;width:100%;" onclick="" type="button"
                    class="btn btn-primary">Save</button>
            </div>
        </form>
    </div><!--
--><div style="padding-right:inherit;" class="col-md-6 half-body">
        <h3 style="text-align: center;">Manage Pasta-Box</h3>
        <br>
        <br>
        <form>
            <div class="form-group row" style="margin-top:1em;">

                <button onclick="" type="button" class="btn btn-primary submit-settings">Restart all the
                    services</button>
            </div>
        </form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button style="width: 100%;" onclick="" type="button" class="btn btn-danger">Restart Pasta-Box</button>
            </div>
            <div class="form-group col-md-6">
                <button style="width: 100%;" onclick="" type="button" class="btn btn-danger">Shutdown Pasta-Box</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}